@font-face {
    font-family: Dosis;
    src: url(../fonts/Dosis-Regular.ttf);
}

@font-face {
    font-family: DosisBold;
    src: url(../fonts/Dosis-ExtraBold.ttf);
    font-weight: bold;
}

html,
body {
    height: 100%;
}

body {
    display: flex;
    font-family: Dosis;
}

body,
h1 {
    margin: 0;
    padding: 0;
}

#gauche {
    background-color: #2C3639;
    color: #ffffff;
    width: 50%;
}

#editor {
    margin: 0;
    font-size: 20pt;
    width: 100%;
    height: 100%;
}

#droite {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

#cadre {
    border: 5px solid #2C3639;
    width: 340px;
    height: 80%;
    border-radius: 40px;
    background-color: #eff6ff;
    box-shadow: 3px 3px 5px #2c36398e, -3px 0 3px #2c36398e;
}

#cadre .top {
    display: flex;
    justify-content: space-between;
    padding: 0 30px 10px;
    font-weight: bold;
}

#cadre .top div {
    margin-top: 10px;
    font-family: DosisBold;
    width: 33%;
}

#cadre .top .milieu {
    background-color: #2C3639;
    height: 20px;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    margin-top: 0;
    width: 53%;
}

#cadre .top .right {
    display: flex;
    justify-content: end;
}

#cadre .top .right svg,
#cadre .top .right img {
    height: 20px;
    margin-left: 5px;
}


#cadre .titre {
    text-align: center;
    text-transform: uppercase;
    font-size: 8pt;
}

#cadre .corps {
    margin: 50px 25px;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#cadre .corps .widget {
    width: 45%;
}

#cadre .corps .widget .wrapper {
    height: 0;
    padding: 20px 15px 100% 15px;
    background-color: #fff;
    border-radius: 15px;
    margin-bottom: 20px;
    color: rgb(158, 158, 158);
    cursor: pointer;
}

#cadre .corps .widget .wrapper.active {
    box-shadow: 3px 5px 8px #a0a5a78e, -3px 0 8px #a0a5a78e;
    color: #2C3639;
}

#cadre .corps .widget .wrapper.active i {
    color: #0997c2;
}

.tar {
    text-align: right;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.col {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.g {
    font-family: DosisBold;
    font-weight: bold;
}